*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#pos
{
    display:flex;
    width:100vw;
    height:100vh;
}
.top
{
width:100vw;
height:400px;
border: 1px solid black;
}
img 
{
width:100vw;
height:600px;
}